:root{
    --main-color: #d61212;
    --main-hover-color: #b91212;
    --main-color-overlay: rgba(214, 18, 18, 0.88);
}
.right-side #contact .contactForm .error input, .right-side #contact .contactForm .error textarea, .right-side #contact .contactForm .error input:focus, .right-side #contact .contactForm .error textarea:focus  {
    border-color: #d10f0f !important;
}