:root{
    --main-color: #0696af;
    --main-hover-color: #098399;
    --main-color-overlay: rgba(6, 150, 175, 0.815);
}
.right-side #contact .contactForm .error input, .right-side #contact .contactForm .error textarea, .right-side #contact .contactForm .error input:focus, .right-side #contact .contactForm .error textarea:focus  {
    border-color: #d10f0f !important;
}